@using System.Configuration
@using IYun.Common
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@using IYun.Models;
@model PagedList<YD_Fee_StuRegistrBatch>
@{
    var adminroled = ViewBag.admin;
}
<table class="xx-table ydong-tab">
    <tr>
        <th style="padding-left: 25px; width: 210px; text-align: left;">函授站</th>
        @if (ConfigurationManager.AppSettings["SchoolName"].ToString() == ComEnum.SchoolName.DHLGDX.ToString())
        {
            <th>负责人姓名</th>
        }
        <th>入学年份</th>
        <th>学年</th>
        <th>函授站提交人数</th>
        <th>学费总金额</th>
        @if (ConfigurationManager.AppSettings["SchoolName"].ToString() == ComEnum.SchoolName.ZYYDX.ToString())
        {
        }
        else
        {
            <th>缴费总金额</th>
        }
        <th>提交时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    @{
        foreach (var stu in Model)
        {
            <tr>
                <td style="padding-left: 25px; text-align: left;">@stu.schoolName</td>
                @if (ConfigurationManager.AppSettings["SchoolName"].ToString() == ComEnum.SchoolName.DHLGDX.ToString())
                {
                    <td>@stu.governorName</td>
                }
                <td>@stu.y_inyear</td>
                <td>@stu.y_feeyear</td>
                <td><a class="bfont2" target="_blank" href="/Expense/StuFeeBatDes/@stu.id">@stu.totalcount</a></td>
                <td>@stu.tuitiontotal</td>
                @if (ConfigurationManager.AppSettings["SchoolName"].ToString() == ComEnum.SchoolName.ZYYDX.ToString())
                {
                }
                else
                {
                    <td>@stu.needtotal</td>
                }

                <td>@stu.y_time.ToString("yyyy-MM-dd")</td>
                @{
                    if (stu.y_check == 1)
                    {
                        <td>审核通过</td>
                    }
                    else if (stu.y_check == 2)
                    {
                        <td>审核不通过</td>
                    }
                    else
                    {
                        <td>待审核</td>
                    }
                }
                @{
                    if (adminroled != 4 && stu.y_check == 0)
                    {
                        <td>
                            @*<a class="bfont2" href="/Expense/StuFeeBatDes/@stu.id">查看名单</a>*@
                            <a class="bfont2" target="_blank" href="/Expense/StuFeeBatMajorDes/@stu.id">查看名单</a>
                            <a class="bfont2" href="javascript:ApplyCheckSome(@stu.id)">审核通过</a>
                            <a class="bfont2" href="javascript:ApplyCheckSomeno(@stu.id)">审核不通过</a>
                        </td>
                    }
                    else if (adminroled != 4 && stu.y_check != 0)
                    {
                        <td>
                            @*<a class="bfont2" href="/Expense/StuFeeBatDes/@stu.id">查看名单</a>*@
                            <a class="bfont2" target="_blank" href="/Expense/StuFeeBatMajorDes/@stu.id">查看名单</a>
                            <a class="bfont2" href="javascript:RevocationCheck(@stu.id)">撤销</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @*<a class="bfont2" href="/Expense/StuFeeBatDes/@stu.id">查看名单</a>*@
                            <a class="bfont2" target="_blank" href="/Expense/StuFeeBatMajorDes/@stu.id">查看名单</a>
                        </td>
                    }
                }
            </tr>
        }
    }
</table>
<script>
    function ApplyCheckSome(id) {
        if (confirm("确认是否审核？")) {
            $('#ajaxtable').fadeOut('10');
            $('#loadingDiv').show();
            $.ajax({
                type: "post",
                url: "/Expense/StuFeeApplyCheckSome",
                data: {
                    id: id
                },
                success: function (data) {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                    if (data == "ok") {
                        alert("操作成功");
                        $("#searchForm").submit();
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                    alert("未知错误");
                }
            });
        }
    }

    function ApplyCheckSomeno(id) {
        if (confirm("确认是否审核？")) {
            $('#ajaxtable').fadeOut('10');
            $('#loadingDiv').show();
            $.ajax({
                type: "post",
                url: "/Expense/StuFeeApplyCheckSomeno",
                data: {
                    id: id
                },
                success: function (data) {

                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();

                    if (data == "ok") {
                        $('#ajaxtable').fadeIn('10');
                        $('#loadingDiv').hide();
                        alert("操作成功");
                        $("#searchForm").submit();
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                    alert("未知错误");
                }
            });
        }
    }

    //撤销审核通过的名单
    function RevocationCheck(id) {
        if (confirm("确认是否撤销审核通过名单？")) {
            $('#ajaxtable').fadeOut('10');
            $('#loadingDiv').show();
            $.ajax({
                type: "post",
                url: "/Expense/StuFeeRevocationCheck",
                data: {
                    id: id
                },
                success: function (data) {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();

                    if (data == "ok") {
                        $('#ajaxtable').fadeIn('10');
                        $('#loadingDiv').hide();
                        alert("操作成功");
                        $("#searchForm").submit();
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                    alert("未知错误");
                }
            });
        }
    }
</script>