@using System.Configuration
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<YD_TeaPlan_Class>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var xinshenyear = Convert.ToInt32(ConfigurationManager.AppSettings["xinsheng"]);
    var adminrole = ViewBag.adminrole;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css?v=1" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="~/Content/manage/ComboboxBind.js?v=1"></script> 
    <script src="~/Content/EasyUI/easyloader.js"></script>
    <link href="~/Content/EasyUI/combo.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/combobox.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/panel.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/textbox.css" rel="stylesheet" />
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });

    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">教务管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/TeaPlan/SubSchoolTeaPlanTemplet".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            <form action="/TeaPlan/SubSchoolTeaPlanTemplet" id="searchForm" method="post">
                <div class="cli">
                    <div class="zc-inn">
                        <span style="margin-left: 20px;">年份</span>
                        @Html.Action("EnrollYear", "Helper", new HelperParameterM {style = "width:200px;font-size: 18px;", index = xinshenyear})
                    </div>
                    @if (adminrole!= 4)
                    {
                        <div class="zc-inn">
                            <span style="margin-left: 20px;">函授站</span>
                            @Html.Action("SubSchool", "Helper", new HelperParameterM { className = "easyui-combobox" })
                        </div>
                    }
                    <div class="zc-inn">
                        <span>层次</span>
                        @Html.Action("EduType", "Helper", new HelperParameterM { style = "width:100px;font-size: 18px" })
                    </div>
                    <div class="zc-inn">
                        <span>专业</span>
                        @Html.Action("MajorLibrary", "Helper", new HelperParameterM { className = "easyui-combobox" })
                    </div>
                    @*<div class="zc-inn">
                        <span style="margin-left: 20px;">专业</span>
                        @Html.Action("Major", "Helper", new HelperParameterM { style = "width:200px;font-size: 18px;" })
                    </div>*@
                    <div class="zc-head">
                        @*<div class="nava1" style="float: right">
                                <a class="cx-sub upload" style="margin-top: 10px; height: 32px; line-height: 30px; float: right" id="uploadsub">批量导入</a>
                                <div class="show-bg"></div>
                                <div class="show-c">
                                    <div class="tbt">批量添加教学计划</div>
                                    <a class="close close8" href="javascript:;"></a>
                                    <div class="dr-c">
                                        <input type="text" id="url" value="" /> <input type="button" id="insertfile" value="选择文件" />
                                        <p>导入格式说明：</p>
                                        <p>文件类型：xls或者xlsx</p>
                                        <p>
                                            <a href="~/File/mould/教学计划模板.xlsx"><font color="green">教学计划导入模板.xlsx</font></a>
                                        </p>
                                    </div>
                                    <div class="cx-bom">
                                        <a class="cx-sub" href="javascript:uploadExcel()">开始导入</a><a class="cx-set close" href="javascript:;">取消</a>
                                    </div>
                                </div>
                            </div>*@

                        <input style="margin-top: 10px; height: 32px; line-height: 30px; float: right" class="cx-sub" type="submit" value="查找" />
                    </div>
                </div>
            </form>

            <div id="loadingDiv" style="display: none">
                <img src="~/Content/images/loading.gif" />
            </div>
            <div id="ajaxtable">
                @Html.Partial("SubSchoolTempletList", Model)
            </div>
        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
</body>
</html>
<script>
    $(document).ready(function() {
        $("#uploadsub").click(function() {
            $(".show-c").css('display', 'none');
            $(".upload").click(function() {
                $(this).parents(".nava1").find(".show-bg").stop().fadeTo(500, 1);
                $(this).parents(".nava1").find(".show-c").css("display", "block");
            });
            $(".close").click(function() {
                $(this).parents(".nava1").find(".show-bg").css('display', 'none');
                $(this).parents(".nava1").find(".show-c").css("display", "none");
            });
        });

        KindEditor.ready(function(K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx', //文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function() {
                editor.loadPlugin('insertfile', function() {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function(url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

        });
    });

    function uploadExcel() {
        var fileName = $("#url").val();

        $.ajax({
            url: '@Url.Action("TeaPlanExcelInsert", "TeaPlan")',
            data: { fileName: fileName },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.IsOk) {
                    alert('Excel验证失败，点击确认获取Excel错误提示！');
                    window.open(data.Message);
                } else {
                    if (isNaN(data.Message)) {
                        alert(data.Message);
                    } else {
                        console.log('导入成功！成功导入' + data.MajorCount + '门专业' + data.Message + '门课程的教学计划');
                        alert('导入成功！成功导入' + data.MajorCount + '门专业' + data.Message + '门课程的教学计划');

                        window.location.reload();
                    }
                }
            }

        });
    }
    function yearchangeComple() {  //年度改变回调
        SearchSchool();
    }
    function eduTypechangeComple() {   //层次改变回调
        SearchMajorLibrary();
    }
    function schoolchangeComple() { //站点改变回调
        SearchMajorLibrary();
    }
    function SearchSchool() {
        var year = $('#EnrollYear').val();
        //$('#SubSchool').attr("disabled", true);
        $('#SubSchool').combobox("disable");
        $.ajax({
            url: '@Url.Action("GetSchoolByYear_Stu", "Helper")',
            data: {
                year: year
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //$('#SubSchool').bindData(data, 'y_subSchoolId', 'schoolName');
                //$('#SubSchool').attr("disabled", false);
                LoadCombobox('#SubSchool', data, 'y_subSchoolId', 'schoolName');
                SearchMajorLibrary();
            },
            error: function () {
                //$('#SubSchool').attr("disabled", false);
                $('#SubSchool').combobox("enable");
            }
        });
    }
    function SearchMajorLibrary() {
        //var schoolId = $('#SubSchool').val();
        var schoolId = $('#SubSchool').combobox('getValue');
        if (@adminrole== 4)
        {
            schoolId = 0;
        }
        var year = $('#EnrollYear').val();
        var edutypeId = $('#EduType').val();
        //$('#MajorLibrary').attr("disabled", true);
        $('#MajorLibrary').combobox("disable");
        $.ajax({
            async: false,
            url: '@Url.Action("GetSubMajorLibrary_Stu", "Helper")',
            data: {
                schoolId: schoolId,
                year: year,
                edutypeId: edutypeId
            },
            type: 'post',
            dataType: 'json',
            success: function(data) {
                //$('#MajorLibrary').attr("disabled", false);
                //$('#MajorLibrary').bindData(data, 'y_majorLibId', 'majorLibraryName');
                LoadCombobox('#MajorLibrary', data, 'y_majorLibId', 'majorLibraryName');
            },
            error: function() {
                //$('#MajorLibrary').attr("disabled", false);
                $('#MajorLibrary').combobox("enable");
            }
        });
    }
    //EasyUi
    $(document).ready(function () {
        //设置面板长度
        $('select.easyui-combobox').attr("panelHeight", "400");
        //设置面板宽度
        $('select.easyui-combobox').css("width", "250px");

        easyloader.css = false;

        easyloader.load('combobox', function () { // 加载指定模块
            $('select.easyui-combobox').combobox({
                onHidePanel: function () {
                    if (isNaN($(this).combobox('getValue'))) {
                        var $this = $(this);

                        var valueField = $this.combobox('options').valueField;
                        var textField = $this.combobox('options').textField;

                        var text = $this.combobox('getValue');
                        var data = $this.combobox('getData');

                        $.each(data, function (i, n) {
                            if (eval('n.' + textField).indexOf(text) >= 0) {
                                $this.combobox('setValue', eval('n.' + valueField));
                                return false;
                            }
                        });
                        if (isNaN($(this).combobox('getValue'))) {
                            $this.combobox('setValue', 0);
                        }
                    }
                }
            });
            $(".combo").click(function() {
                if ($(this).prev().combobox("panel").is(":visible")) {
                    //$(this).prev().combobox("hidePanel");
                } else {
                    $(this).prev().combobox("showPanel");
                }
            });

            //注册联动
            $('#SubSchool').combobox({
                onChange: function () {
                    if (!isNaN($(this).combobox('getValue'))) {
                        SearchMajorLibrary();
                    }
                }
            });
        });

        easyloader.onLoad = function (name){
            if (name.length == 1 &&name[0] == "combobox") {
                    
                //赋初始值 (赋值时会触发onchange事件)
                @*$('#SubSchool').combobox('setValue', @school);
                $('#Major').combobox('setValue', @major);*@
                }
        }
    });
</script>

