@using IYun.Models;
@using IYun.Object
@{
    Layout = null;
    var data = ViewData["data"] as List<YD_Edu_Major>;
    data = data ?? new List<YD_Edu_Major>();
    var para = ViewData["para"] as HelperParameterM;
    para = para ?? new HelperParameterM();
    if (string.IsNullOrWhiteSpace(para.className))
    {
        para.className = "dl-sel";                       //默认样式CLASS
    }
    if (string.IsNullOrWhiteSpace(para.id))
    {
        para.id = "Major2";                            //默认ID
    }
    if (string.IsNullOrWhiteSpace(para.name))
    {
        para.name = "Major";                          //默认name
    }
    if (!para.index.HasValue)
    {
        para.index = 0;                                 //默认选中
    }
}
<script src="~/Content/IYun/js/jquery.editable-select.min.js"></script>
<link href="~/Content/IYun/style/jquery.editable-select.min.css" rel="stylesheet" />
<select class="@para.className" id="@para.id" name="@para.name" style="@para.style">
    <option value="0">全部</option>
    @foreach (var major in data)
    {
        if (major.id == para.index)
        {
            <option value='@major.id' selected="selected">@major.y_name</option>
        }
        else
        {
            <option value='@major.id'>@major.y_name</option>
        }
    }
</select>
<input type="hidden" id="majorlihidden" name="majorlihidden" />
<script type="text/javascript">
    $('#@para.id').editableSelect({
        effects: 'slide',
        onSelect: function (item) {
            //当改变select下拉选项值的时候调用
            $('#majorlihidden').val(item.val());
        }
    });
</script>