@using IYun.Models;
@using IYun.Object
@{
    Layout = null;
    var data = ViewData["data"] as List<YD_Sys_Role>;
    data = data ?? new List<YD_Sys_Role>();
    var para = ViewData["para"] as HelperParameterM;
    para = para ?? new HelperParameterM();
    if (string.IsNullOrWhiteSpace(para.className))
    {
        para.className = "dl-sel";                       //默认样式CLASS
    }
    if (string.IsNullOrWhiteSpace(para.id))
    {
        para.id = "Role";                            //默认ID
    }
    if (string.IsNullOrWhiteSpace(para.name))
    {
        para.name = "Role";                          //默认name
    }
    if (!para.index.HasValue)
    {
        para.index = 0;                                 //默认选中
    }
}
<select class="@para.className" id="@para.id" name="@para.name" style="@para.style">
    <option value="0">全部</option>
    @foreach (var role in data)
    {
        if (role.id == para.index)
        {
            <option value='@role.id' selected="selected">@role.y_name</option>
        }
        else
        {
            <option value='@role.id'>@role.y_name</option>
        }
    }
</select>
