@using IYun.Models;
@using IYun.Object
@{
    Layout = null;
    var data = ViewData["data"] as List<YD_Sts_StrangeType>;
    data = data ?? new List<YD_Sts_StrangeType>();
    var para = ViewData["para"] as HelperParameterM;
    para = para ?? new HelperParameterM();
    if (string.IsNullOrWhiteSpace(para.className))
    {
        para.className = "dl-sel";                       //默认样式CLASS
    }
    if (string.IsNullOrWhiteSpace(para.id))
    {
        para.id = "StrangeType";                            //默认ID
    }
    if (string.IsNullOrWhiteSpace(para.name))
    {
        para.name = "StrangeType";                          //默认name
    }
    if (!para.index.HasValue)
    {
        para.index = 0;                                 //默认选中
    }
}
<select class="@para.className" id="@para.id" name="@para.name" style="@para.style">
    <option value='0' selected="selected">全部</option>
    @foreach (var strangeType in data)
    {
        if (strangeType.id == para.index)
        {
            <option value='@strangeType.id' selected="selected">@strangeType.y_name</option>
        }
        else
        {
            <option value='@strangeType.id'>@strangeType.y_name</option>
        }
    }
</select>
