@using Webdiyer.WebControls.Mvc
@using IYun.Models;
@model PagedList<VW_StuInfo>
@{
    var adminrole = ViewBag.adminrole;
}
<table class="xx-table">
    <tr>
        @if (adminrole == 4)
        {
            <label><input id="allstu" type="checkbox" onclick="checkboxAll(this)">全部选中</label>
            <label><input id="allstuno" type="checkbox" onclick="checkboxAllNO(this)">全部取消</label>
            <th style="padding-left: 25px;"><label><input id="all" class="rad cktb zz8" type="checkbox">学号</label></th>
        }
        else
        {
            <th style="padding-left: 25px;"><label>学号</label></th>
        }
        <th>考生号</th>
        <th>姓名</th>
        <th>专业</th>
        <th>入学年份</th>
        <th>状态</th>
        <th>是否允许申报学士学位</th>
        <th>是否申请学士学位</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            @if (adminrole == 4)
                {
                <td style="padding-left: 25px;">
                    <input data-id="@student.id" data-isok="@student.y_bachelordegree" data-isdel="@student.y_isdel" type="checkbox" name="check" class="mycb" @*onclick="checkboxOnclick(this)"*@
                           @if (student.isbachelorForcheck == true) { Write("checked='checked'"); } />
                    @student.y_stuNum
                </td>
            }
            else
            {
                <td style="padding-left: 25px;">@student.y_stuNum</td>
            }
            <td>@student.y_examNum</td>
            <td>@student.y_name</td>
            <td>@student.majorName</td>
            <td>@student.y_inYear</td>
            <td>@student.stuStateName</td>
            @if (student.y_isdel == 1)
            {
                <td>是</td>
            }
            else if (student.y_isdel == 0)
            {
                <td><a style="color: blue" target="_blank"  href="/Graduate/StDegreeScore/@student.id">否</a></td>
            }
            @if (student.y_bachelordegree == true)
            {
                <td>已申请</td>
            }
            else
            {
                <td>未申请</td>
            }
        </tr>
    }
</table>
<script>
    //全选或取消全选功能
    $(function () {
        $("#all").click(function () {
            $("input[name='check']").attr("checked", $(this)[0].checked);
        });
        $("input[name='check']").click(function () {
            var bl = $("input[name='check'").length == $("input[name='check']:checked").length;
            $("#all").attr("checked", bl);
        });
        //勾选学生或者取消学生
        $(".mycb").change(function (e) {
            var ids = $(this).attr("data-id");
            if (ids == null) {
                e.target.checked = false;
                alert("未获取学生id");
                return;
            }
            var isdel = $(this).attr("data-isdel");
            if (isdel == 0) {
                e.target.checked = false;
                alert("不能选择没有资格申报的学生");
                return;
            }
            var isok = $(this).attr("data-isok");
            if (isok == 'True') {
                e.target.checked = false;
                alert("不能选择已申报的学生");
                return;
            }
            if (e.target.checked) {
                changeok(ids);
            } else {
                changeNOok(ids);
            }
        });
    });
    function changeok(ids) {
        $.ajax({
            type: "post",
            url: "/Graduate/StuDegreeCheckOk",
            data: {
                ids: ids
            },
            success: function (data) {
                if (data == "ok") {
                } else {
                    alert(data);
                }
            },
            error: function () {
                alert("未知错误");
            }
        });
    }

    function changeNOok(ids) {
        $.ajax({
            type: "post",
            url: "/Graduate/StDegreeCCheckno",
            data: {
                ids: ids
            },
            success: function (data) {
                if (data == "ok") {
                } else {
                    alert(data);
                }
            },
            error: function () {
                alert("未知错误");
            }
        });
    }

    //勾选学生或者取消学生
    //function checkboxOnclick(checkbox) {
    //    if (checkbox.checked == true) {
    //        var cbs = $(".mycb");
    //        if (cbs.length <= 0) {
    //            alert("请先选择学生");
    //            return;
    //        }
    //        var ids = "";
    //        var isdel = ""; //是否允许申请
    //        var isok = ""; //是否已申请注册
    //        for (var i = 0; i < cbs.length; i++) {
    //            if (cbs[i].checked) {
    //                ids += $(cbs[i]).attr("data-id");
    //                if (i + 1 < cbs.length) {
    //                    ids += ",";
    //                }
    //                isdel += $(cbs[i]).attr("data-isdel");
    //                if (isdel == 0) {
    //                    cbs[i].checked = false;
    //                    alert("不能选择没有资格申报的学生");
    //                    return;
    //                }
    //                isok += $(cbs[i]).attr("data-isok");
    //                if (isok == 'True') {
    //                    cbs[i].checked = false;
    //                    alert("不能选择已申报的学生");
    //                    return;
    //                }
    //            }
    //        }
    //        $.ajax({
    //            type: "post",
    //            url: "/Graduate/StuDegreeCheckOk",
    //            data: {
    //                ids: ids
    //            },
    //            success: function (data) {
    //                if (data == "ok") {
    //                } else {
    //                    alert(data);
    //                }
    //            },
    //            error: function () {
    //                alert("未知错误");
    //            }
    //        });

    //    }
    //    else {
    //        var cbs = $(".mycb");
    //        if (cbs.length <= 0) {
    //            alert("请先选择学生");
    //            return;
    //        }
    //        var ids = "";
    //        var isdel = ""; //是否允许申请
    //        var isok = ""; //是否已申请注册
    //        for (var i = 0; i < cbs.length; i++) {
    //            if (cbs[i].checked) {
    //                ids += $(cbs[i]).attr("data-id");
    //                if (i + 1 < cbs.length) {
    //                    ids += ",";
    //                }
    //                isdel += $(cbs[i]).attr("data-isdel");
    //                if (isdel == 0) {
    //                    cbs[i].checked = false;
    //                    alert("不能选择没有资格申报的学生");
    //                    return;
    //                }
    //                isok += $(cbs[i]).attr("data-isok");
    //                if (isok == 'True') {
    //                    cbs[i].checked = false;
    //                    alert("不能选择已申请的学生");
    //                    return;
    //                }
    //            }
    //        }
    //        $.ajax({
    //            type: "post",
    //            url: "/Graduate/StDegreeCCheckno",
    //            data: {
    //                ids: ids
    //            },
    //            success: function (data) {
    //                if (data == "ok") {
    //                } else {
    //                    alert(data);
    //                }
    //            },
    //            error: function () {
    //                alert("未知错误");
    //            }
    //        });
    //    }
    //}
    //全部选中本站点所有学生
    function checkboxAll(checkbox) {
        if (checkbox.checked == true) {
            $('#ajaxtable').fadeOut('10');
            $('#loadingDiv').show();
            $.ajax({
                type: "POST",
                url: "/Graduate/AllDegreeCheck",
                data: form2Json("searchForm"),
                success: function (data) {
                    if (data == "ok") {
                        $("#searchForm").submit();
                    } else {
                        alert(data);
                    }
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                },
                error: function () {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                    alert("未知错误！==");
                }
            });
        }
    }
    //全部取消选中的本站点所有学生
    function checkboxAllNO(checkbox) {
        if (checkbox.checked == true) {
            $('#ajaxtable').fadeOut('10');
            $('#loadingDiv').show();
            $.ajax({
                type: "POST",
                url: "/Graduate/AllDegreeCheckNo",
                data: form2Json("searchForm"),
                success: function (data) {
                    if (data == "ok") {
                        $("#searchForm").submit();
                    } else {
                        alert(data);
                    }
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                },
                error: function () {
                    $('#ajaxtable').fadeIn('10');
                    $('#loadingDiv').hide();
                    alert("未知错误！==");
                }
            });
        }
    }
</script>
