
@using System.Configuration
@using IYun.Common
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<YD_Graduate_StudentScore>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var adminrole = ViewBag.adminrole;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css?v=1" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="~/Content/manage/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/IYun/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="~/Content/manage/ComboboxBind.js?v=1"></script>  
    <script src="~/Content/EasyUI/easyloader.js"></script>
    <link href="~/Content/EasyUI/combo.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/combobox.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/panel.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/textbox.css" rel="stylesheet" />

    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');
        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx',//文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function (url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
            //$("#searchForm").keydown(function() {
            //    if (event.keyCode == "13") {
            //        $("#bsubmit").trigger("click");
            //    }
            //});
        });
    </script>
</head>
<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">毕业管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/Graduate/StuGridEnglishScore".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            <div class="right-nav">
                <form id="searchForm" action="/Graduate/StuGridEnglishScore" name="searchForm" method="post">
                    <div class="zc-head">
                        <div class="zc-inn">
                            <span>入学年份</span>
                            @Html.Action("EnrollYear", "Helper", new HelperParameterM {style = "width:100px;font-size: 18px"})
                        </div>
                        @if (adminrole != 4)
                        {
                            <div class="zc-inn">
                                <span>函授站</span>
                                @Html.Action("SubSchool", "Helper", new HelperParameterM { className = "easyui-combobox" })
                            </div>
                        }
                        <div class="zc-inn">
                            <span>层次</span>
                            @Html.Action("EduType", "Helper", new HelperParameterM {style = "width:100px;font-size: 18px"})
                        </div>
                        <div class="zc-inn">
                            <span>专业</span>
                            @Html.Action("MajorLibrary", "Helper", new HelperParameterM { className = "easyui-combobox" })
                        </div>
                       
                        <div class="zc-inn">
                            <span>姓名/身份证</span>
                            <input type="text" name="namenumcard" class="cx-inp" style="width: 150px"/>
                        </div>
                        <br/>
                    </div>

                    <div class="zc-head">
                        
                            <div class="nava1" style="float: right">
                                <a class="cx-sub upload" style="margin-top: 10px; height: 32px; line-height: 30px; float: right" id="uploadsub">批量导入</a>
                                <div class="show-bg"></div>
                                <div class="show-c">
                                    <div class="tbt">批量添加学位外语成绩</div>
                                    <a class="close close8" href="javascript:;"></a>
                                    <div class="dr-c">
                                        <input type="text" id="url" value=""/> <input type="button" id="insertfile" value="选择文件"/>
                                        <p>导入格式说明：</p>
                                        <p>文件类型：xls或者xlsx</p>
                                        <p>第一行为列名，共有9列，分别是:考试时间，入学年份，姓名，性别,身份证号，专业名，准考证号，总分，主观分，结论。</p>
                                       <p>其中，考试时间,身份证号，准考证号必须为文本类型</p>
                                         <p>
                                            <a href="~/File/mould/学位外语导入模版.xls"><font color="green">学位外语成绩导入模板.xlsx</font></a>
                                        </p>
                                    </div>
                                    <div class="cx-bom">
                                        <a class="cx-sub" href="javascript:uploadExcel()">开始导入</a><a class="cx-set close" href="javascript:;">取消</a>
                                    </div>
                                </div>
                            </div>
                        
                        <a class="cx-sub" href="javascript:ExcelDown()" style="margin-top: 10px; height: 32px; line-height: 30px; float: right">数据导出</a>
                        <input style="margin-top: 10px; height: 32px; line-height: 30px; float: right" class="cx-sub" type="submit" value="查找"/>
                    </div>
                    <div class="show-bg"></div>
                </form>
              
            </div>

            <div id="loadingDiv" style="display:none"><img src="~/Content/images/loading.gif" /></div>
            <div id="ajaxtable">
                @Html.Partial("StuGridEnglishScoreList", Model)
            </div>

        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
<script>
    //弹框
    $("#uploadsub").click(function () {
        $(".show-c").css('display', 'none');
        $(".upload").click(function () {
            $(this).parents(".nava1").find(".show-bg").stop().fadeTo(500, 1);
            $(this).parents(".nava1").find(".show-c").css("display", "block");
        });
        $(".close").click(function () {
            $(this).parents(".nava1").find(".show-bg").css('display', 'none');
            $(this).parents(".nava1").find(".show-c").css("display", "none");
        });
    });
    function delstuEnglishScore(id) {
        if (confirm("确认删除此学生信息？")) {
            $.ajax({
                url: '/Graduate/DeleStuEnglishScoreById/' + id,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    alert(data.msg);
                    if (data.isok) {
                        window.location = "/Graduate/StuGridEnglishScore";
                    }
                }
            });
        }
    }
    function uploadExcel() {
        var fileName = $("#url").val();
        window.location.href = "/Graduate/UploadNewStuGridEnglishScore/?fileName=" + fileName;
    }
    function ExcelDown() {
        $.ajax({
            type: "post",
            url: "/Graduate/DownloadEnglishScore",
            data: $("#searchForm").serialize(),
            success: function (data) {
                if (data.indexOf("xls") > 0) {
                    location.href = data;
                } else {
                    eval(data);
                }
            },
            error: function () {
                alert("未知错误");
            }
        });
    }
    function butOnClick() {
        if (event.keyCode == "13") {
            document.form1.submint();
        }
    }
    function yearchangeComple() {  //年度改变回调
        SearchSchool();
    }
    function eduTypechangeComple() {   //层次改变回调
        SearchMajorLibrary();
    }
    function schoolchangeComple() { //站点改变回调
        SearchMajorLibrary();
    }
    function SearchSchool() {
        var year = $('#EnrollYear').val();
        //$('#SubSchool').attr("disabled", true);
        $('#SubSchool').combobox("disable");
        $.ajax({
            url: '@Url.Action("GetSchoolByYear_Stu", "Helper")',
            data: {
                year: year
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //$('#SubSchool').bindData(data, 'y_subSchoolId', 'schoolName');
                //$('#SubSchool').attr("disabled", false);
                LoadCombobox('#SubSchool', data, 'y_subSchoolId', 'schoolName');
                SearchMajorLibrary();
            },
            error: function () {
                //$('#SubSchool').attr("disabled", false);
                $('#SubSchool').combobox("enable");
            }
        });
    }
    function SearchMajorLibrary() {
        //var schoolId = $('#SubSchool').val();
        var schoolId = $('#SubSchool').combobox('getValue');
        if (@adminrole== 4)
        {
            schoolId = 0;
        }
        var edutypeId = $('#EduType').val();
        var year = $('#EnrollYear').val();
        //$('#MajorLibrary').attr("disabled", true);
        $('#MajorLibrary').combobox("disable");
        $.ajax({
            async: false,
            url: '@Url.Action("GetStuMajorLibrary_Stu", "Helper")',
            data: {
                schoolId: schoolId,
                edutypeId: edutypeId,
                year:year
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //$('#MajorLibrary').attr("disabled", false);
                //$('#MajorLibrary').bindData(data, 'y_majorLibId', 'majorLibraryName');
                LoadCombobox('#MajorLibrary', data, 'y_majorLibId', 'majorLibraryName');
            },
            error: function () {
                //$('#MajorLibrary').attr("disabled", false);
                $('#MajorLibrary').combobox("enable");
            }
        });
    }
    //EasyUi
        $(document).ready(function () {
            //设置面板长度
            $('select.easyui-combobox').attr("panelHeight", "400");
            //设置面板宽度
            $('select.easyui-combobox').css("width", "250px");

            easyloader.css = false;

            easyloader.load('combobox', function () { // 加载指定模块
                $('select.easyui-combobox').combobox({
                    onHidePanel: function () {
                        if (isNaN($(this).combobox('getValue'))) {
                            var $this = $(this);

                            var valueField = $this.combobox('options').valueField;
                            var textField = $this.combobox('options').textField;

                            var text = $this.combobox('getValue');
                            var data = $this.combobox('getData');

                            $.each(data, function (i, n) {
                                if (eval('n.' + textField).indexOf(text) >= 0) {
                                    $this.combobox('setValue', eval('n.' + valueField));
                                    return false;
                                }
                            });

                            if (isNaN($(this).combobox('getValue'))) {
                                $this.combobox('setValue', 0);
                            }

                        }
                    }
                });
                $(".combo").click(function() {
                    if ($(this).prev().combobox("panel").is(":visible")) {
                        //$(this).prev().combobox("hidePanel");
                    } else {
                        $(this).prev().combobox("showPanel");
                    }
                });
            });
            easyloader.onLoad = function (name){
                if (name.length == 1 &&name[0] == "combobox") {

                    //赋初始值 (赋值时会触发onchange事件)
                    @*$('#SubSchool').combobox('setValue', @school);
                    $('#Major').combobox('setValue', @major);*@
                    }
            }
        });
</script>
</body>
</html>