@{
    Layout = null;
}
@using System.Configuration
@using IYun.Models
@using IYun.Object
@model List<IYun.Controllers.ControllerObject.ScoreStatistics>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();

    var year = Convert.ToInt32(ViewData["year"]);
    var school = Convert.ToInt32(ViewData["school"]);
    var major = Convert.ToInt32(ViewData["major"]);
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Content/manage/ComboboxBind.js?v=1"></script>
    <script src="~/Content/EasyUI/easyloader.js"></script>
    <link href="~/Content/EasyUI/combo.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/combobox.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/panel.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/textbox.css" rel="stylesheet" />
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式
        });

    </script>
    <style>
        .xx-table td {
            border: 1px solid #e9e9e9;
        }
    </style>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">成绩管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/Score/ScoreStatistics".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            <form action="@Url.Action("ScoreStatistics","Score")" id="searchForm" method="post">
                <div class="cli">
                    <div class="zc-inn">
                        <span style="margin-left: 20px;">年份</span>
                        @Html.Action("EnrollYear2", "Helper", new HelperParameterM { style = "width:200px;font-size: 18px;", index = year })
                    </div>
                    <div class="zc-inn">
                        <span style="margin-left: 20px;">函授站</span>
                        @Html.Action("SubSchool", "Helper", new HelperParameterM{className= "easyui-combobox"})
                    </div>
                    <div class="zc-inn">
                        <span style="margin-left: 20px;">专业</span>
                        @Html.Action("Major", "Helper", new HelperParameterM {className = "easyui-combobox" })
                    </div>
                    <div class="zc-head">
                        <input style="margin-top: 10px; height: 32px; line-height: 30px; float: right" class="cx-sub" type="submit" value="查找" />
                    </div>
                </div>
            </form>

            <table class="xx-table ydong-tab">
                <tr>
                    <th>函授站</th>
                    <th>专业</th>
                    <th>是否缺失教学计划</th>
                    <th>总数(科目*人数)</th>
                    <th>已录分(科目*人数)</th>
                    <th>已录比例(%)</th>
                    <th>及格数量(科目*人数)</th>
                    <th>及格比例(%)</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SchoolName</td>
                        <td>@item.MajorName</td>
                        @if (item.IsSetTeaplan)
                        {
                            <td>否</td>
                            <td><a style="color:blue;" href="/Score/ScoreStatistics_Course?Major= @item.MajorId &Year= @year &School= @item.SubSchoolId ">@item.TotalCount</a></td>
                            <td>@item.HasCount</td>
                            <td>@Math.Round((item.HasCount*100d/item.TotalCount), 2)</td>
                            <td>@item.PassCount</td>
                            <td>@Math.Round((item.PassCount * 100d / item.TotalCount), 2)</td>
                        }
                        else
                        {
                            <td style="color: red;">是</td>
                            <td style="color: red;">\</td>
                            <td style="color: red;">\</td>
                            <td style="color: red;">\</td>
                        }
                    </tr>
                }


            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#uploadsub").click(function () {
                $(".show-c").css('display', 'none');
                $(".upload").click(function () {
                    $(this).parents(".nava1").find(".show-bg").stop().fadeTo(500, 1);
                    $(this).parents(".nava1").find(".show-c").css("display", "block");
                });
                $(".close").click(function () {
                    $(this).parents(".nava1").find(".show-bg").css('display', 'none');
                    $(this).parents(".nava1").find(".show-c").css("display", "none");
                });
            });

            if ($('#EnrollYear2').find("option").eq(0).val() == 0) {
                $('#EnrollYear2').find("option").eq(0).remove();  //除去年度中的全部
            }
        });

        function yearchangeComple2() {
            SearchMajor();
        }

        function schoolchangeComple() {
            SearchMajor();
        }

        function SearchMajor() {
            var schoolId = $('#SubSchool').combobox('getValue');
            var year = $('#EnrollYear2').val();

            $('#Major').combobox("disable");
            $.ajax({
                url: '@Url.Action("GetMajor_Stu", "Helper")',
                data: {
                    schoolId: schoolId,
                    year: year
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    LoadCombobox('#Major',data,'id','majorName');
                },
                error: function () {
                    $('#Major').combobox("enable");
                }
            });
        }

        //EasyUi
        $(document).ready(function () {
            //设置面板长度
            $('select.easyui-combobox').attr("panelHeight", "400");
            //设置面板宽度
            $('select.easyui-combobox').css("width", "250px");

            easyloader.css = false;

            easyloader.load('combobox', function () { // 加载指定模块
                $('select.easyui-combobox').combobox({
                    onHidePanel: function () {
                        if (isNaN($(this).combobox('getValue'))) {
                            var $this = $(this);

                            var valueField = $this.combobox('options').valueField;
                            var textField = $this.combobox('options').textField;

                            var text = $this.combobox('getValue');
                            var data = $this.combobox('getData');

                            $.each(data, function (i, n) {
                                if (eval('n.' + textField).indexOf(text) >= 0) {
                                    $this.combobox('setValue', eval('n.' + valueField));
                                    return false;
                                }
                            });

                            if (isNaN($(this).combobox('getValue'))) {
                                $this.combobox('setValue', 0);
                            }

                        }
                    }
                });

                $(".combo").click(function() {
                    if ($(this).prev().combobox("panel").is(":visible")) {
                        //$(this).prev().combobox("hidePanel");
                    } else {
                        $(this).prev().combobox("showPanel");
                    }
                });

                //注册联动
                $('#SubSchool').combobox({
                    onChange: function () {
                        if (!isNaN($(this).combobox('getValue'))) {
                            SearchMajor();
                        }
                    }
                });
            });
            easyloader.onLoad = function (name){
                if (name.length == 1 &&name[0] == "combobox") {
                    
                    //赋初始值 (赋值时会触发onchange事件)
                    $('#SubSchool').combobox('setValue', @school);
                    $('#Major').combobox('setValue', @major);
                }
            }
        });

    </script>
    @Html.Action("Foot", "AdminBase")
</body>
</html>
