@using System.Configuration
@using IYun.Models
@using IYun.Object
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var entity = (VW_Score)ViewBag.entity;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
        <script type="text/javascript" src="~/Views/SysAdmin/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
        <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    <script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Content/IYun/js/jquery.editable-select.min.js"></script>
    <link href="~/Content/IYun/style/jquery.editable-select.min.css" rel="stylesheet" />
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });

    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">成绩管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/score/score".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            <div class="tjia"><span>编辑分数</span><a class="fhui" @*href="javascript:goback()"*@ onclick="history.go(-1)">返回</a></div>
            <form action="/Edu/Scoreedit" method="post">
                <table class="cx-table">
                    <tr>
                        <td class="td1">学生姓名</td>
                        <td>@entity.y_stuName</td>
                    </tr>
                    <tr>
                        <td class="td1">课程名</td>
                        <td>@entity.y_courseName<input type="hidden" id="id" value="@entity.id"></td>
                    </tr>
                    <tr>
                        <td class="td1">平时分</td>
                        <td><input type="text" class="cx-inp" id="y_normalScore" value="@entity.y_normalScore" placeholder="平时分" /></td>
                    </tr>
                    <tr>
                        <td class="td1">期末分</td>
                        <td><input type="text" class="cx-inp" id="y_termScore" value="@entity.y_termScore" placeholder="期末分" /></td>
                    </tr>
                    <tr>
                        <td class="td1">&nbsp;</td>
                        <td><input class="cx-sub" type="button" onclick="save()" value="保存"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
</body>

</html>
<script type="text/javascript">
    function save() {
        var y_normalScore = $("#y_normalScore").val();
        if (y_normalScore == "") {
            alert("平时分必填");
            return;
        }

        var y_termScore = $("#y_termScore").val();
        if (y_termScore == "") {
            alert("期末分必填");
            return;
        }
        var id = $("#id").val();
        if (id == "") {
            alert("未知错误");
            return;
        }
        $.ajax({
            type: "post",
            url: "/Score/ScoreEdit",
            data: {
                id: id,
                y_normalScore: y_normalScore,
                y_termScore: y_termScore
            },
            success: function (data) {
                if (data == "ok") {
                    location.href = document.referrer;
                } else {
                    alert(data);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }
    function goback() {
        location.href = document.referrer;
    }
</script>