@using System.Configuration
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<YT_Faculty>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="~/Views/DicAdmin/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    <script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <script src="~/Content/EasyUI/easyloader.js"></script>
    <link href="~/Content/EasyUI/combo.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/combobox.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/panel.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/textbox.css" rel="stylesheet" />
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式
        });
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx',//文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function (url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

        });
    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">基础数据管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/basicdata/FacultyManager".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            <div class="right-nav">
                <form action="/basicdata/FacultyManager" id="searchForm" method="post">
                    <div class="zc-inn">
                        <span style="margin-left: 30px">院系名</span>
                        <input name="y_name" style="width:120px;" type="text" class="cx-inp">
                       @*@Html.Action("SubSchool", "Helper", new HelperParameterM { className = "easyui-combobox" })*@
                    </div>
                    <div class="zc-inn"><input type="submit" style="margin-top:0px; height:32px; line-height:30px;" class="cx-sub" value="查找"></div>
                </form>
                <div class="nava1">
                    <a class="nava2" href="javascript:;">批量导入</a>
                    <div class="show-bg"></div>
                    <div class="show-c">
                        <div class="tbt">批量添加院系</div>
                        <a class="close close8" href="javascript:;"></a>
                        <div class="dr-c">
                            <input type="text" id="url" value="" /> <input type="button" id="insertfile" value="选择文件" />
                            <p>导入格式说明：</p>
                            <p>文件类型：xls或者xlsx</p>
                            <p>第一行为列名，共有1列，分别是：院系名。</p>
                            <p>都为必填项</p>
                            <p><a href="~/File/mould/院系信息导入模板.xlsx"><font color="green">院系信息导入模板.xlsx</font></a></p>
                        </div>
                        <div class="cx-bom">
                            <a class="cx-sub" href="javascript:uploadExcel()">开始导入</a><a class="cx-set close" href="javascript:;">取消</a>
                        </div>
                    </div>
                </div>
                <div class="cli">
                    @*<a style="height:32px; line-height:30px; float:right; margin:20px 20px 0 0;" class="zc-sub2" href="/SysAdmin/SubSchoolNameCheckUp">重名检查</a>
                    <a style="height:32px; line-height:30px; float:right; margin:20px 20px 0 0;" class="zc-sub2" href="/SysAdmin/SubSchoolCodeCheckUp">重代码检查</a>*@
                    <a style="height:32px; line-height:30px; float:right; margin:20px 20px 0 0;" class="zc-sub2" href="/basicdata/FacultyAddPage">添加</a>
                    @*<a class="zc-sub2" href="javascript:DownSubSchool()" style="margin-top: 20px; margin-left: 10px; height: 30px; line-height: 30px;">数据导出</a>*@
                    <div class="show-bg"></div>
                </div>
            </div>

                <div id="loadingDiv" style="display:none"><img src="~/Content/manage/images/loading.gif" /></div>
                <div id="ajaxtable">
                    @Html.Partial("FacultyList", Model)
                </div>
            </div>
    </div>
    @Html.Action("Foot", "AdminBase")
</body>
</html>
<script>
    function deleteSubSchool(id) {
        if (confirm("确认删除此院系信息？")) {
            $.ajax({
                type: "post",
                url: "/basicdata/facultyDelete",
                data: {
                    id: id
                },
                success: function (data) {
                    if (data == "ok") {
                        location.reload();
                    } else {
                        alert(data);
                    }
                },
                error: function (msg) {
                    alert("未知错误");
                }
            });
        }
    }
    function uploadExcel() {
        var fileName = $("#url").val();
        //window.location.href = "/SysAdmin/UploadSubSchool/?filename=" + fileName;

        $.ajax({
            type: "post",
            url: "/BasicData/UploadFaculty",
            data: { filename: fileName },
            success: function (data) {
                if (data.IsOk) {
                    location.href = data.msg;
                } else {
                    alert(data.msg);
                    location.reload();
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }
    

    function DownSubSchool() {
        $.ajax({
            type: "post",
            url: "/SysAdmin/DownloadSubSchool",
            data: $("#searchForm").serialize(),
            success: function (data) {
                if (data.indexOf("xls") > 0) {
                    location.href = data;
                } else {
                    eval(data);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }

    //EasyUi
    $(document).ready(function () {
        //设置面板长度
        $('select.easyui-combobox').attr("panelHeight", "400");
        //设置面板宽度
        $('select.easyui-combobox').css("width", "250px");

        easyloader.css = false;

        easyloader.load('combobox', function () { // 加载指定模块
            $('select.easyui-combobox').combobox({
                onHidePanel: function () {
                    if (isNaN($(this).combobox('getValue'))) {
                        var $this = $(this);

                        var valueField = $this.combobox('options').valueField;
                        var textField = $this.combobox('options').textField;

                        var text = $this.combobox('getValue');
                        var data = $this.combobox('getData');

                        $.each(data, function (i, n) {
                            if (eval('n.' + textField).indexOf(text) >= 0) {
                                $this.combobox('setValue', eval('n.' + valueField));
                                return false;
                            }
                        });

                        if (isNaN($(this).combobox('getValue'))) {
                            $this.combobox('setValue', 0);
                        }

                    }
                }
            });

            $(".combo").click(function () {
                if ($(this).prev().combobox("panel").is(":visible")) {
                    //$(this).prev().combobox("hidePanel");
                } else {
                    $(this).prev().combobox("showPanel");
                }
            });


        });

        easyloader.onLoad = function (name) {
            if (name.length == 1 && name[0] == "combobox") {

                //赋初始值 (赋值时会触发onchange事件)
                @*$('#SubSchool').combobox('setValue', @school);*@
            }
        }
    });
</script>
