@using System.Configuration
@using IYun.Models
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var entityList = (List<YD_Edu_FormTemp>)ViewBag.entityList;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
        <script type="text/javascript" src="~/Views/Score/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
        <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    <script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            //使得ie6789支持CSS3样式
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });

            }
            //专业重复数据不插入提示
            charAtTest();
        });

    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">教务管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/edu/course".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            @{
                if (entityList.Count > 0)
                {
                    <a class="zc-sub2 mt30" href="/Edu/VerifyCourse">校检</a>
                }
                else
                {
                    <a class="zc-sub2 mt30" href="/Edu/UploadTrueCourse">开始导入</a>
                }
            }
            <table class="xx-table">
                <tr>
                    <th style="padding-left:30px;width:90px;">课程名</th>
                    <th>基本信息 </th>
                    <th width="70">操作</th>
                </tr>
            </table>
            @{
                foreach (var teachPlantemp in entityList)
                {
                    <div class="xx-js" id="@teachPlantemp.id">
                        @{
                            if (teachPlantemp.y_name == "")
                            {
                                <div class="x-js1">&nbsp;&nbsp;</div>
                            }
                            else
                            {
                                <div class="x-js1">@teachPlantemp.y_name</div>
                            }
                        }

                        <div class="td-drop">
                            <span style="padding-left: 30px;"><b>课程代码：</b>@teachPlantemp.y_code</span>
                            <span style="padding-left: 30px;"><b>相似课程：</b>@teachPlantemp.y_nameMatch</span>
                        </div>
                        <a style="width:70px; float:right; color:#337ab7;" href="javascript:notUpload(@teachPlantemp.id);">无需导入</a>
                        <a style="width:70px; float:right; color:#337ab7;" href="javascript:needUpload(@teachPlantemp.id);">需要导入</a>
                        <a class="gr
                           _edit" @*href="javascript:;"*@ onclick="StudentInfoGetEdit(this);">展开</a>
                    </div>
                            }
                            
            }

        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
</body>
</html>
<script>
    function notUpload(id) {
        $.ajax({
            type: "post",
            url: "/Edu/NotUploadcourse",
            data: {
                id: id
            },
            success: function (data) {
                if (data == "ok") {
                    $("#" + id).hide();
                } else {
                    alert(data);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }
    function needUpload(id) {
        $.ajax({
            type: "post",
            url: "/Edu/NeedUploadcourse",
            data: {
                id: id
            },
            success: function (data) {
                if (data == "ok") {
                    $("#" + id).hide();
                } else {
                    alert(data);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }
    //课程重复数据不插入提示
    function charAtTest(n){  
        var str = '@ViewData["deleteCourse"]'; // 初始化变量。
        var s,newStr=""; 
        var deleteCourse = str.substring(0, str.length - 1);
        if (deleteCourse != "") {
            alert("数据库已存在这些课程:" + deleteCourse + "。\n以上数据不会插入到数据库中。");
        }
    }
</script>

