@using System.Configuration
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<VW_StuInfo>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var man = (int)SexEnum.Man;
    var woman = (int)SexEnum.WoMan;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="~/Content/manage/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    <script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx',//文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function (url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

        });
        $(document).ready(function(e) {
            //全选
            $("#allCheckBox").click(function(e) {
                $("input[name='applyCheckBox']").attr("checked", $(this)[0].checked);
            });
            //单击复选框判断是否选中全选
            $("input[name='applyCheckBox']").click(function() {
                var bl = $("input[name='applyCheckBox']").length == $("input[name='applyCheckBox']:checked").length;
                $("#allCheckBox").attr("checked", bl);
            });
        });
    </script>
</head>
<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">学籍管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/student/DegreeApply".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>



        <div id="main-tr">
            <div class="right-nav">
                <div class="nava1">
                    <a class="nava2" style="line-height:40px;" href="javascript:;">查询</a>
                    <div class="show-bg"></div>
                    <div class="show-c">
                        <form action="/Student/StudentInfo/" id="searchForm" method="post">
                            <div class="tbt">查询学生</div>
                            <a class="close close8" href="javascript:;"></a>
                            <table class="cx-table">
                                <tr>
                                    <td class="td1">姓名</td>
                                    <td><input type="text" name="name" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">性别</td>
                                    <td>
                                        <select name="sex" class="cx-sel">
                                            <option value="">不限</option>
                                            <option value="@man">男</option>
                                            <option value="@woman">女</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">学籍状态</td>
                                    <td>
                                        @Html.Action("StuState", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">身份证</td>
                                    <td><input name="card" type="text" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">出生日期</td>
                                    <td><input name="birthday" type="text" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">入学学期</td>
                                    <td>
                                        @Html.Action("EnrollYear", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">学习中心</td>
                                    <td>
                                        @Html.Action("SubSchool", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">专业</td>
                                    <td>
                                        @Html.Action("MajorLibrary", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">专业层次</td>
                                    <td>
                                        @Html.Action("EduType", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">学习形式</td>
                                    <td>
                                        @Html.Action("StuType", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">电话</td>
                                    <td><input name="tel" type="text" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">&nbsp;</td>
                                    <td><a class="cx-set close" href="javascript:;">取消</a><input class="cx-sub close" type="submit" value="确定" /></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="nava1">
                    <a class="nava2" href="javascript:;">数据导出</a>
                    <div class="show-bg"></div>
                    <div class="show-c">
                        <form action="/Student/DownloadStudent/" id="loadForm" method="post">
                            <div class="tbt">导出条件</div>
                            <a class="close close8" href="javascript:;"></a>
                            <table class="cx-table">
                                <tr>
                                    <td class="td1">姓名</td>
                                    <td><input type="text" name="name" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">性别</td>
                                    <td>
                                        <select name="sex" class="cx-sel">
                                            <option value="">不限</option>
                                            <option value="@man">男</option>
                                            <option value="@woman">女</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">学籍状态</td>
                                    <td>
                                        @Html.Action("StuState", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">身份证</td>
                                    <td><input name="card" type="text" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">出生日期</td>
                                    <td><input name="birthday" type="text" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">入学学期</td>
                                    <td>
                                        @Html.Action("EnrollYear", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">学习中心</td>
                                    <td>
                                        @Html.Action("SubSchool", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">专业</td>
                                    <td>
                                        @Html.Action("MajorLibrary", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">专业层次</td>
                                    <td>
                                        @Html.Action("EduType", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">学习形式</td>
                                    <td>
                                        @Html.Action("StuType", "Helper")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">电话</td>
                                    <td><input name="tel" type="text" class="cx-inp"  /></td>
                                </tr>
                                <tr>
                                    <td class="td1">&nbsp;</td>
                                    <td><a class="cx-set close" href="javascript:;">取消</a><input class="cx-sub close" type="submit" value="导出" /></td>
                                </tr>
                            </table>

                        </form>
                    </div>

                </div>
                <a style="height:32px; line-height:30px; float:right; margin:20px 20px 0 0;" class="zc-sub2" href="javascript:start()">申请学位</a>
            </div>

            <div id="loadingDiv" style="display:none"><img src="~/Content/images/loading.gif" /></div>
            <div id="ajaxtable">
                @Html.Partial("DegreeApplyList", Model)
            </div>

        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
    <script>
        function start() {
            var applyCheckBox = $(".mycb");
            if (applyCheckBox.length <= 0) {
                alert("请先选择学生");
                return;
            }
            var ids = "";
            for (var i = 0; i < applyCheckBox.length; i++) {
                if (applyCheckBox[i].checked) {
                    ids += $(applyCheckBox[i]).attr("data-id");
                    if (i + 1 < applyCheckBox.length) {
                        ids += ",";
                    }
                }
            }
            $.ajax({
                type: "POST",
                url: "/Student/DegreeApplyGrad",
                data: { ids: ids},
                success: function (data) {
                    if (data == "ok") {
                        alert("生成申请学位成功");
                        window.location.href = '/Student/DegreeApply';
                    } else {
                        alert("生成申请学位失败");
                    }
                }
            });
        }
    </script>
</body>
</html>
