@using System.Configuration
@using IYun.Common
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model List<VW_StuInfo>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var adminrole = ViewBag.adminroleid;
    var majorliid = ViewBag.majorliid;
    var edutypeid = ViewBag.edutypeid;
    var stutypeid = ViewBag.stutypeid;
    var subschoolid = ViewBag.subschoolid;
    var schoolname = ConfigurationManager.AppSettings["SchoolName"];

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css?v=1" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="~/Content/manage/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/IYun/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="~/Content/manage/ComboboxBind.js"></script>
    <script src="~/Content/manage/ComboboxBind.js?v=1"></script>

    <script src="~/Content/EasyUI/easyloader.js"></script>
    <link href="~/Content/EasyUI/combo.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/combobox.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/panel.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/textbox.css" rel="stylesheet" />
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function() {
            if (window.PIE) {
                $('.rounded').each(function() {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });
        KindEditor.ready(function(K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx', //文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function() {
                editor.loadPlugin('insertfile', function() {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function(url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });

            //$("#searchForm").keydown(function() {
            //    if (event.keyCode == "13") {
            //        $("#bsubmit").trigger("click");
            //    }
            //});
        });
        function myPrint(obj) {
            var newWindow = window.open("/student/NewAndSubSchoolStudent", "_blank");//打印窗口要换成页面的url
            var docStr = obj.innerHTML;
            newWindow.document.write(docStr);
            newWindow.document.close();
            newWindow.print();
            newWindow.close();
        }
    </script>
    <style>
        .dc-t {
            color: #333333;
            font-size: 24px;
            text-align: center;
            margin-top: 35px;
            line-height: 26px;
        }

        .xinshengtable {
            color: #555555;
            font-size: 14px;
        }

            .xinshengtable th {
                text-align: center;
            }
              .xinshengtable td {
                text-align: center;
            }
    </style>
</head>
<body>
    @Html.Action("Top", "AdminBase")

    <div class="main center">
        @Html.Partial("../AdminBase/PartialModuleView", "/student/NewlyStudentInfo")
        <div id="main-tr" class="tb-chk">
            <form action="/Student/NewAndSubSchoolStudent" id="searchForm" name="searchForm" method="post">
            <div class="zc-head" >
                @if (adminrole != 4)
                {
                    <div class="zc-inn">
                        <span>函授站</span>
                        @Html.Action("SubSchool", "Helper", new HelperParameterM {className = "easyui-combobox"})
                    </div>
                }
                <div class="zc-inn">
                    <span>层次</span>
                    @Html.Action("EduType", "Helper", new HelperParameterM {style = "width:80px;font-size: 18px", index = edutypeid})
                </div>
                <div class="zc-inn">
                    <span>专业</span>
                    @Html.Action("MajorLibrary", "Helper", new HelperParameterM {className = "easyui-combobox"})
                </div>
                <div class="zc-inn">
                    <span>学习形式</span>
                    @Html.Action("StuType", "Helper", new HelperParameterM {style = "width:80px;font-size: 18px", index = stutypeid})
                </div>
                <a class="fhui" href="#" onclick="history.go(-1)">返回</a>
            </div>
                <div class="zc-head">               
                    <a class="cx-sub" style="float: right; margin-top: 10px; margin-left: 680px; margin-left: 10px; height: 32px; line-height: 30px;" href="javascript:myPrint(document.getElementById('ajaxtable'))">数据打印</a>
                    <a class="cx-sub" href="javascript:DownNewAndMajor()" style="float: right; margin-top: 10px; margin-left: 680px; margin-left: 10px; height: 32px; line-height: 30px;">数据导出</a>
                    <input style="margin-top: 10px; height: 32px; line-height: 30px; float: right;" class="cx-sub" type="button" onclick="guolv()" value="查找" />
                    <div class="show-bg"></div>
                </div>
            </form>
            <div id="loadingDiv" style="display:none"><img src="~/Content/images/loading.gif" /></div>
            <div id="ajaxtable">
                <div class="dc-t" style="text-align: center;">@ConfigurationManager.AppSettings["SchoolTable"]@ConfigurationManager.AppSettings["xinsheng"] 年成人高等学历教育函授站新生录取名单</div>
                <table class="xinshengtable xx-table" >
                    <tr>
                        <th colspan="9" style="background:#ddd;">
                            <span style="margin-left: 10px; width: 15%">层次：@ViewBag.edutype</span>
                            <span style="margin-left: 30px; width: 15%">专业：@ViewBag.majorli</span>
                            <span style="margin-left: 100px; width: 15%">学习形式：@ViewBag.stutypetype</span>
                            <span style="margin-left: 30px; width: 15%">录取人数：@ViewBag.count</span>
                            @if (adminrole == 4)
                            {
                                <span style="margin-left: 30px;">函授站名称：@ViewBag.admin</span>
                            }
                            else
                            {
                                 <span style="margin-left: 30px;">函授站名称：@ViewBag.subSchoolname</span>
                            }
                           
                        </th>
                    </tr>
                    <tr>
                        <th>考生号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>身份证</th>
                        <th>邮政编码</th>
                        <th>联系电话</th>
                        <th>联系地址</th>
                        <th>备注</th>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (VW_StuInfo student in Model)
                        {
                            <tr>
                                <td>@student.y_examNum</td>
                                <td>@student.y_name</td>
                                <td>@Html.Raw(student.y_sex == 1 ? "女" : "男") </td>
                                <td>@student.y_cardId</td>
                                <td>@student.y_postalcode</td>
                                <td>@student.y_tel</td>
                                <td>@student.y_address</td>
                                <td></td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
    <script>
        function guolv() {
            $("#searchForm").attr("action", "/Student/NewAndSubSchoolStudent");
            $("#searchForm").submit();
        }

        function butOnClick() {
            if (event.keyCode == "13") {
                document.form1.submint();
            }
        }

        function DownNewAndMajor() {
            $.ajax({
                type: "post",
                url: "/Student/DownloadNewAndSubSchool",
                data: $("#searchForm").serialize(),
                success: function(data) {
                    if (data.indexOf("xls") > 0) {
                        location.href = data;
                    } else {
                        eval(data);
                    }
                },
                error: function() {
                    alert("未知错误");
                }
            });
        }
        function eduTypechangeComple() {   //层次改变回调
            SearchMajorLibrary();
        }
        function schoolchangeComple() { //站点改变回调
            SearchMajorLibrary();
        }
        function SearchMajorLibrary() {
            //var schoolId = $('#SubSchool').val();
            var schoolId = $('#SubSchool').combobox('getValue');
            if (@adminrole== 4)
            {
                schoolId = 0;
            }
            var edutypeId = $('#EduType').val();
            //$('#MajorLibrary').attr("disabled", true);
            $('#MajorLibrary').combobox("disable");
            $.ajax({
                async: false,
                url: '@Url.Action("GetNewMajorLibrary_Stu", "Helper")',
                data: {
                    schoolId: schoolId,
                    edutypeId: edutypeId
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    //$('#MajorLibrary').attr("disabled", false);
                    //$('#MajorLibrary').bindData(data, 'y_majorLibId', 'majorLibraryName');
                    LoadCombobox('#MajorLibrary', data, 'y_majorLibId', 'majorLibraryName');
                },
                error: function () {
                    //$('#MajorLibrary').attr("disabled", false);
                    $('#MajorLibrary').combobox("enable");
                }
            });
        }
        //EasyUi
        $(document).ready(function () {
            //设置面板长度
            $('select.easyui-combobox').attr("panelHeight", "400");
            //设置面板宽度
            $('select.easyui-combobox').css("width", "200px");

            easyloader.css = false;

            easyloader.load('combobox', function () { // 加载指定模块
                $('select.easyui-combobox').combobox({
                    onHidePanel: function () {
                        if (isNaN($(this).combobox('getValue'))) {
                            var $this = $(this);

                            var valueField = $this.combobox('options').valueField;
                            var textField = $this.combobox('options').textField;

                            var text = $this.combobox('getValue');
                            var data = $this.combobox('getData');

                            $.each(data, function (i, n) {
                                if (eval('n.' + textField).indexOf(text) >= 0) {
                                    $this.combobox('setValue', eval('n.' + valueField));
                                    return false;
                                }
                            });
                            if (isNaN($(this).combobox('getValue'))) {
                                $this.combobox('setValue', 0);
                            }
                        }
                    }
                });
                $(".combo").click(function() {
                    if ($(this).prev().combobox("panel").is(":visible")) {
                        //$(this).prev().combobox("hidePanel");
                    } else {
                        $(this).prev().combobox("showPanel");
                    }
                });
            });

            easyloader.onLoad = function (name){
                if (name.length == 1 &&name[0] == "combobox") {

                    //赋初始值 (赋值时会触发onchange事件)
                    $('#SubSchool').combobox('setValue', @subschoolid);
                    $('#MajorLibrary').combobox('setValue', @majorliid);
                }
            }
        });

















    </script>
</body>

</html>