@using System.Configuration
@using IYun.Common
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<VW_StuInfo>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var adminrole = ViewBag.adminroleid;
    var xinshenyear = Convert.ToInt32(ConfigurationManager.AppSettings["xinsheng"]);

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="~/Content/manage/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/IYun/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="~/Content/manage/ComboboxBind.js?v=1"></script>

    <script src="~/Content/EasyUI/easyloader.js"></script>
    <link href="~/Content/EasyUI/combo.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/combobox.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/panel.css" rel="stylesheet" />
    <link href="~/Content/EasyUI/textbox.css" rel="stylesheet"/>

    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式
            //SearchSchool();
        });
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx',//文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function (url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
            //$("#searchForm").keydown(function() {
            //    if (event.keyCode == "13") {
            //        $("#bsubmit").trigger("click");
            //    }
            //});
        });  
    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        @Html.Partial("../AdminBase/PartialModuleView", "/student/NewlyStudentInfo")
        <div id="main-tr">
            <div class="right-nav">
                <form id="searchForm" action="/Student/NewlyStudentInfo" name="searchForm" method="post">
                    <div class="zc-head">
                        @*<div class="zc-inn">
            <span>入学年份</span>
            @Html.Action("EnrollYear", "Helper", new HelperParameterM {style = "width:100px;font-size: 18px" })
        </div>*@
                        @if (adminrole != 4)
                        {
                            <div class="zc-inn">
                                <span>函授站</span>
                                @Html.Action("SubSchool", "Helper", new HelperParameterM { className = "easyui-combobox" })
                            </div>
                        }
                        <div class="zc-inn">
                            <span>层次</span>
                            @Html.Action("EduType", "Helper", new HelperParameterM { style = "width:100px;font-size: 18px" })
                        </div>
                        <div class="zc-inn">
                            <span>专业</span>
                            @Html.Action("MajorLibrary", "Helper", new HelperParameterM { className = "easyui-combobox" })
                        </div>
                        <div class="zc-inn">
                            <span>学习形式</span>
                            @Html.Action("StuType", "Helper", new HelperParameterM { style = "width:100px;font-size: 18px" })
                        </div>
                        <div class="zc-inn">
                            <span>没有函授站</span>
                            <select class="cx-sel" name="nosub" id="nosub" style="width: 100px;">
                                <option value="0">不选择</option>
                                <option value="1">没有函授站</option>
                            </select>
                        </div>
                        <div class="zc-inn">
                            <span>函授站冲突</span>
                            <select class="cx-sel" name="schoolct" style="width: 120px;">
                                <option value="0">全部</option>
                                <option value="1">函授站有冲突</option>
                                <option value="2">函授站无冲突</option>
                            </select>
                        </div>

                        <div class="zc-inn">
                            <span>姓名/学号/考生号/身份证</span>
                            <input type="text" name="namenumcard" class="cx-inp" style="width: 150px" />
                        </div>



                        <br />
                    </div>
                    <div class="zc-head">
                        <a style="margin-top: 10px; height: 32px; line-height: 30px; width: 110px; float: right" class="cx-sub" href="/Student/NewAndSubSchoolStudent">函授站新生</a>
                        @if (adminrole != 4)
                        {

                            <a style="margin-top: 10px; height: 32px; line-height: 30px; width: 110px; float: right" class="cx-sub" href="/Student/NewAndMajorStudent">全校新生</a>
                        }

                        <a class="cx-sub" href="javascript:ExcelDown()" style="margin-top: 10px; height: 32px; line-height: 30px; float: right">数据导出</a>
                        <input style="margin-top: 10px; height: 32px; line-height: 30px; float: right" class="cx-sub" type="submit" value="查找"/>
                    </div>
                    <div class="show-bg"></div>
                </form>                 
                </div>

            <div id="loadingDiv" style="display:none"><img src="~/Content/images/loading.gif" /></div>
            <div id="ajaxtable">
                @Html.Partial("NewlyStudentList", Model, ViewData)
            </div>

        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
<script>
      @*function SearchSchool() {
             var year = @xinshenyear;
        $.ajax({
            url: '@Url.Action("GetSchoolByYear_Stu", "Helper")',
            data: {
                year: year
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                LoadCombobox('#SubSchool', data, 'y_subSchoolId', 'schoolName');
            },
            error: function () {
                $('#SubSchool').combobox("enable");
            }
        });
    }*@
    function delstu(id) {
        if (confirm("确认删除此学生信息？")) {
            $.ajax({
                url: '/Student/DeleStudentById/' + id,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    alert(data);
                    if (data.isok) {
                        alert(data.msg);
                        window.location = "/Student/StudentInfo";
                    }
                    else {
                        alert(data.msg);
                    }
                }
            });
        }
    }
    function uploadExcel() {
        var fileName = $("#url").val();
        window.location.href = "/Student/UploadStudent/?filename=" + fileName;
    }
    function butOnClick() {
        if (event.keyCode == "13") {
            document.form1.submint();
        }
    }
    function ExcelDown() {
        $.ajax({
            type: "post",
            url: "/Student/NewDownloadStudent",
            data: $("#searchForm").serialize(),
            success: function (data) {
                if (data.indexOf("xls") > 0) {
                    location.href = data;
                } else {
                    alert(data);
                }
            },
            error: function () {
                alert("未知错误");
            }
        });
    }
    function eduTypechangeComple() {   //层次改变回调
        SearchMajorLibrary();
    }
    function schoolchangeComple() { //站点改变回调
        SearchMajorLibrary();
    }
    function SearchMajorLibrary() {
        //var schoolId = $('#SubSchool').val();
        var schoolId = $('#SubSchool').combobox('getValue');
         if (@adminrole== 4)
         {
           schoolId = 0;
         }
        var edutypeId = $('#EduType').val();
        //$('#MajorLibrary').attr("disabled", true);
        $('#MajorLibrary').combobox("disable");
        $.ajax({
            async: false,
            url: '@Url.Action("GetNewMajorLibrary_Stu", "Helper")',
            data: {
                schoolId: schoolId,
                edutypeId: edutypeId
            },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //$('#MajorLibrary').attr("disabled", false);
                //$('#MajorLibrary').bindData(data, 'y_majorLibId', 'majorLibraryName');
                LoadCombobox('#MajorLibrary', data, 'y_majorLibId', 'majorLibraryName');
                //SearchMajorLibrary();
            },
            error: function () {
                //$('#MajorLibrary').attr("disabled", false);
                $('#MajorLibrary').combobox("enable");
            }
        });
    }
    //EasyUi
    $(document).ready(function () {
        //设置面板长度
        $('select.easyui-combobox').attr("panelHeight", "400");
        //设置面板宽度
        $('select.easyui-combobox').css("width", "250px");

        easyloader.css = false;

        easyloader.load('combobox', function () { // 加载指定模块
            $('select.easyui-combobox').combobox({
                onHidePanel: function () {
                    if (isNaN($(this).combobox('getValue'))) {
                        var $this = $(this);

                        var valueField = $this.combobox('options').valueField;
                        var textField = $this.combobox('options').textField;

                        var text = $this.combobox('getValue');
                        var data = $this.combobox('getData');

                        $.each(data, function (i, n) {
                            if (eval('n.' + textField).indexOf(text) >= 0) {
                                $this.combobox('setValue', eval('n.' + valueField));
                                return false;
                            }
                        });
                        if (isNaN($(this).combobox('getValue'))) {
                            $this.combobox('setValue', 0);
                        }
                    }
                }
            });
            $(".combo").click(function() {
                if ($(this).prev().combobox("panel").is(":visible")) {
                    //$(this).prev().combobox("hidePanel");
                } else {
                    $(this).prev().combobox("showPanel");
                }
            });

            //注册联动
            //$('#SubSchool').combobox({
            //    onChange: function () {
            //        if (!isNaN($(this).combobox('getValue'))) {
            //            SearchMajorLibrary();
            //        }
            //    }
            //});
        });

        easyloader.onLoad = function (name){
            if (name.length == 1 &&name[0] == "combobox") {

                //赋初始值 (赋值时会触发onchange事件)
                @*$('#SubSchool').combobox('setValue', @school);
                $('#Major').combobox('setValue', @major);*@
            }
        }
    });
</script>
</body>
</html>