@using System.Configuration
@using IYun.Common
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<YD_Fee_StuFeeTb>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var man = (int)SexEnum.Man;
    var woman = (int)SexEnum.WoMan;
    const int yes = (int)YesOrNo.Yes;
    const int no = (int)YesOrNo.No;
    int adminid = ViewBag.admin;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
        <script type="text/javascript" src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
        <script type="text/javascript" src="js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <script src="~/Content/IYun/js/jquery.editable-select.min.js"></script>
    <link href="~/Content/IYun/style/jquery.editable-select.min.css" rel="stylesheet" />
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });  
    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        @Html.Partial("../AdminBase/PartialModuleView", "/student/SubSchoolStuInfo")
        <div id="main-tr" class="tb-chk">
            <form id="searchForm" action="/Student/NewlyFeeCheck" name="searchForm" method="post">
                <div class="zc-head">
                    <div class="zc-inn">
                        <span>缴费年份</span>
                        @Html.Action("EnrollYear", "Helper", new HelperParameterM { id = "year", name = "year", style = "width:80px;" })
                    </div>
                    @*<div class="zc-inn">
                            <span>入学年份</span>
                            @Html.Action("EnrollYear", "Helper", new HelperParameterM {id = "inYear", name = "inYear", style = "width:80px;"})
                        </div>*@

                    <div class="zc-inn">
                        <span>层次</span>
                        @Html.Action("EduType", "Helper", new HelperParameterM {name = "eduType", style = "width:80px;"})
                    </div>
                    <div class="zc-inn">
                        <span>专业</span>
                        @Html.Action("MajorLibrary", "Helper", new HelperParameterM { name = "major", style = "width:100px;" })
                    </div>
                    @*<div class="zc-inn">
                            <span>学习形式</span>
                            @Html.Action("StuType", "Helper", new HelperParameterM { name = "stuType", style = "width:80px;" })
                        </div>*@
                    <div class="zc-inn">
                        <span>学年</span>
                        <select class="cx-sel" name="term" id="term" style="width: 60px;">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="zc-inn">
                        <span>缴费注册</span>
                        <select class="cx-sel" name="isFee" style="width: 80px;">
                            <option value="0">全部</option>
                            <option value="1">已申请注册</option>
                            <option value="2">未申请注册</option>
                        </select>
                    </div>
                    @*@{
                            if (adminid != 3)
                            {
                                <div class="zc-inn">
                                    <span>注册审核</span>
                                    <select class="cx-sel" name="isCheck" style="width: 80px;">
                                        <option value="0">全部</option>
                                        <option value="1">已审核注册</option>
                                        <option value="2">未审核注册</option>
                                    </select>
                                </div>
                            }
                        }*@

                    <div class="zc-inn">
                        <span>函授站</span>
                        @Html.Action("SubSchool", "Helper", new HelperParameterM { name = "subSchool", style = "width:120px;" })
                    </div>
                    <div class="zc-inn">
                        <span>姓名</span>
                        <input type="text" name="name" id="name" class="cx-inp" style="width: 50px"  />
                    </div>
                    @*<div class="zc-inn">
                            <span>入学时间</span>
                            @Html.Action("EnrollYear", "Helper", new HelperParameterM { name = "enrollyear", style = "width:80px;" })
                        </div>*@

                    @*<div class="zc-inn">
                            <span>缴费年度</span>
                            <select class="cx-sel" name="feeYear" id="feeYear" style="width:100px;">
                                <option value="1">第一学年</option>
                                <option value="2">第二学年</option>
                                <option value="3">第三学年</option>
                                <option value="4">第四学年</option>
                                <option value="5">第五学年</option>
                            </select>
                        </div>*@
                    <input style="margin-top: 10px; height: 32px; line-height: 30px;" class="cx-sub" type="submit" @*onclick="submitform()"*@ value="查找" />
                    <a class="cx-sub" href="javascript:registerSome()" style="margin-top:10px; height:32px; line-height:30px;">审核通过</a>
                    <a class="cx-sub" href="javascript:noregisterSome()" style="margin-top:10px; height:32px; line-height:30px;">审核不通过</a>
                    <input style="margin-top: 10px; height: 32px; width: 135px; line-height: 30px;" class="cx-sub" onclick="createStuFee()" type="button" value="生成该缴学生名单" />
                    <a class="cx-sub" href="javascript:DownFeeCheck()" style="margin-top:10px; height:32px; line-height:30px;">数据导出</a>

                    <div class="show-bg"></div>
                </div>
            </form>
            <div id="loadingDiv" style="display:none"><img src="~/Content/images/loading.gif" /></div>
            <div id="ajaxtable">
                @Html.Partial("FeeCheckList", Model, ViewData)
            </div>
        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
</body>
</html>
<script>
    function createStuFee() {
        if (confirm("在生成该年份的缴费名单前先请确认系统中已经设置好函授站的收费标准及分成比例标准或者已经设置好整体的收费标准以及整体的分成比例" )) {
            var feeYear = $("#year").val();
            $.ajax({
                type: "POST",
                url: "/Student/CreateStuFee",
                data: {
                    feeYear: feeYear
                },
                success: function (data) {
                    if (data == "ok") {
                        alert("该缴费年份的学生名单生成成功");
                        location.reload();
                    } else {
                        alert(data);
                    }
                },
                error: function (msg) { alert("未知错误！==" + msg); }
            });
        }
    }
    function register() {
        $.ajax({
            type: "POST",
            url: "/Student/Register",
            data: form2Json("searchForm"),
            success: function (data) {
                if (data == "ok") {
                    alert("注册成功");
                    location.reload();
                } else {
                    alert(data);
                }
            },
            error: function (msg) { alert("未知错误！==" + msg); }
        });

    }
    function form2Json(id) {
        var arr = $("#" + id).serializeArray();
        var jsonStr = "";
        jsonStr += '{';
        for (var i = 0; i < arr.length; i++) {
            jsonStr += '"' + arr[i].name + '":"' + arr[i].value + '",';
        }
        jsonStr = jsonStr.substring(0, (jsonStr.length - 1));
        jsonStr += '}';
        var json = JSON.parse(jsonStr);
        return json;
    }

    function DownFeeCheck() {

        $.ajax({
            type: "post",
            url: "/Student/NewlyDownloadFeeCheck",
            data: $("#searchForm").serialize(),
            success: function (data) {
                if (data.indexOf("xls") > 0) {
                    location.href = data;
                } else {
                    eval(data);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }
</script>