@using IYun.Common
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@using IYun.Models;
@model PagedList<YD_Fee_StuRegistrBatch>
@{
    var adminroled = ViewBag.admin;
}
<table class="xx-table ydong-tab">
    <tr>
        <th style=" padding-left:25px; width:210px; text-align:left;">函授站</th>
        <th>函授站提交人数</th>
        <th>缴费总金额</th>
        <th>提交时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    @{
        foreach (var stu in Model)
        {
            <tr>
                <td style="padding-left:25px; text-align:left;">@stu.schoolName</td>
                <td>@stu.totalcount</td>
                <td>@stu.needtotal</td>
                <td>@stu.y_time.ToString("yyyy-MM-dd")</td>
               @{
                   if (stu.y_check == 1)
                   {
                    <td>审核通过</td>
                   }
                   else if (stu.y_check == 2)
                   {
                       <td>审核不通过</td>
                   }
                   else
                   {
                      <td>待审核</td>

                   }
            }
                @{
                   if (adminroled != 4 && stu.y_check == 0)
                    {
                        <td>
                            <a class="bfont2" href="/Student/StuFeeBatDes/@stu.id">查看名单</a>
                            <a class="bfont2" href="javascript:ApplyCheckSome(@stu.id)">审核通过</a>
                            <a class="bfont2" href="javascript:ApplyCheckSomeno(@stu.id)">审核不通过</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="bfont2" href="/Student/StuFeeBatDes/@stu.id">查看名单</a>
                        </td>
                    }

                }                    
            </tr>
          }
    }
</table>
<script>
    function ApplyCheckSome(id) {       
        $.ajax({
            type: "post",
            url: "/Student/StuFeeApplyCheckSome",
            data: {
                id: id
            },
            success: function (data) {
                if (data == "ok") {
                    alert("操作成功");
                    $("#searchForm").submit();
                } else {
                    alert(data);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }
    function ApplyCheckSomeno(id) {
        $.ajax({
            type: "post",
            url: "/Student/StuFeeApplyCheckSomeno",
            data: {
                id: id
            },
            success: function (data) {
                if (data == "ok") {
                    alert("操作成功");
                    $("#searchForm").submit();
                } else {
                    alert(data);
                }
            },
            error: function (msg) {
                alert("aaaaa");
            }
        });
    }
</script>