@using Webdiyer.WebControls.Mvc
@using IYun.Models;
@model PagedList<VW_StuInfo>

<table class="xx-table">
    <tr>
        <th style=" padding-left:25px; ">学号</th>
        <th>姓名</th>
        <th>专业</th>
        <th>入学年份</th>
        <th>状态</th>
        <th width="180">操作</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td style="padding-left:25px;">@student.y_stuNum</td>
            <td>@student.y_name</td>
            <td>@student.majorName</td>
            <td>@student.y_inYear</td>
            <td>@student.stuStateName</td>
            <td><a class="bfont2" href="/Student/StuStatusScore/@student.id">学籍表</a>@*<a class="bfont2" href="/Student/StuScore/@student.id">成绩单</a><a class="bfont2" href="javascript:cancelGrad(@student.id)">取消毕业</a>*@ </td>
        </tr>
    }
</table>
<script>
    function cancelGrad(id) {
        $.ajax({
            type: "post",
            url: "/Student/CancelGradInfo",
            data: {
                id: id
            },
            success: function (data) {
                if (data == "ok") {
                    location.reload(true);
                }
            },
            error: function (msg) {
                alert("未知错误");
            }
        });
    }

</script>
