@using System.Configuration
@using IYun.Common
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<VW_SubSchoolStuInfo>
@{
    Layout = null;
    var man = (int)SexEnum.Man;
    var woman = (int)SexEnum.WoMan;
    var adminrole = ViewBag.adminrole;

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
    <script type="text/javascript" src="~/Content/manage/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
    <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/IYun/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <link href="~/Content/kindeditor-4.1.10/themes/default/default.css" rel="stylesheet" />
    <script src="~/Content/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="~/Content/kindeditor-4.1.10/lang/zh_CN.js"></script>
    <script src="~/Content/manage/ComboboxBind.js"></script>
    <link href="~/Content/IYun/style/jquery.editable-select.min.css" rel="stylesheet" />
    <script src="~/Content/IYun/js/jquery.editable-select.min.js"></script>
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });
        KindEditor.ready(function (K) {
            var editor = K.editor({
                allowFileManager: true,
                uploadJson: '../../Content/kindeditor-4.1.10/asp.net/excelUpload.ashx',//文件处理程序
                fileManagerJson: '../../Content/kindeditor-4.1.10/asp.net/file_manager_json.ashx',
                imageSizeLimit: '10MB',
                imageUploadLimit: 10
            });
            K('#insertfile').click(function () {
                editor.loadPlugin('insertfile', function () {
                    editor.plugin.fileDialog({
                        fileUrl: K('#url').val(),
                        clickFn: function (url, title) {
                            K('#url').val(url);
                            editor.hideDialog();
                        }
                    });
                });
            });
            //$("#searchForm").keydown(function() {
            //    if (event.keyCode == "13") {
            //        $("#bsubmit").trigger("click");
            //    }
            //});
        });
    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        @Html.Partial("../AdminBase/PartialModuleView", "/student/SubSchoolStuInfo")
        <div id="main-tr">
            <div class="right-nav">
                <form id="searchForm" action="/Student/SubSchoolStuInfo" name="searchForm" method="post">
                    <div class="zc-head">

                        <div class="zc-inn">
                            <span>年份</span>
                            @Html.Action("EnrollYear", "Helper", new HelperParameterM { style = "width:80px;", index = Convert.ToInt32(ConfigurationManager.AppSettings["xinsheng"]) })
                        </div>
                        @if (adminrole != 4)
                        {
                            <div class="zc-inn">
                                <span>函授站</span>
                                @Html.Action("SubSchool", "Helper", new HelperParameterM { name = "subSchool", style = "width:120px;" })
                            </div>
                        }
                        <div class="zc-inn">
                            <span>姓名/考号/身份证</span>
                            <input type="text" name="namenumcard" class="cx-inp" style="width: 150px" />
                        </div>

                        <br />
                    </div>

                    <div class="zc-head">
                        <div class="nava1" style="float: right">
                            <a class="cx-sub upload" style="margin-top: 10px; height: 32px; line-height: 30px; float: right" id="uploadsub">批量导入</a>
                            <div class="show-bg"></div>
                            <div class="show-c">
                                <div class="tbt">批量添加学生</div>
                                <a class="close close8" href="javascript:;"></a>
                                <div class="dr-c">
                                    <input type="text" id="url" value="" /> <input type="button" id="insertfile" value="选择文件" />
                                    <p>导入格式说明：</p>
                                    <p>文件类型：xls或者xlsx</p>
                                    <p>第一行为列名，共有4列，分别是:姓名，年份，考生号，身份证号。</p>
                                    <p>
                                        <a href="~/File/mould/%e5%87%bd%e6%8e%88%e7%ab%99%e5%ad%a6%e7%94%9f%e4%bf%a1%e6%81%af%e5%af%bc%e5%85%a5%e6%a8%a1%e6%9d%bf.xlsx"><font color="green">函授站学生信息导入模板.xlsx</font></a>
                                    </p>
                                </div>
                                <div class="cx-bom">
                                    <a class="cx-sub" href="javascript:uploadExcel()">开始导入</a><a class="cx-set close" href="javascript:;">取消</a>
                                </div>
                            </div>
                        </div>
                        <a class="cx-sub" href="javascript:ExcelDown()" style="margin-top: 10px; height: 32px; line-height: 30px; float: right">数据导出</a>
                        <input style="margin-top: 10px; height: 32px; line-height: 30px; float: right" class="cx-sub" type="submit" value="查找" />
                        <a class="cx-sub" href="/Student/InsertOrUpdateSubschoolStuView" style="margin-top: 10px; height: 32px; line-height: 30px; float: right">添加考生</a>
                    </div>
                    <div class="show-bg"></div>
                </form>

            </div>

            <div id="loadingDiv" style="display:none"><img src="~/Content/images/loading.gif" /></div>
            <div id="ajaxtable">
                @Html.Partial("SubSchoolStuList", Model)
            </div>

        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
    <script>
        //弹框
        $("#uploadsub").click(function () {
            $(".show-c").css('display', 'none');
            $(".upload").click(function () {
                $(this).parents(".nava1").find(".show-bg").stop().fadeTo(500, 1);
                $(this).parents(".nava1").find(".show-c").css("display", "block");
            });
            $(".close").click(function () {
                $(this).parents(".nava1").find(".show-bg").css('display', 'none');
                $(this).parents(".nava1").find(".show-c").css("display", "none");
            });
        });
        function delstu(id) {
            if (confirm("确认删除此学生信息？")) {
                $.ajax({
                    url: '/Student/DeleSubStudentById/' + id,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        alert("删除成功");
                        if (data.isok) {
                            window.location = "/Student/SubSchoolStuInfo";
                        }
                    }
                });
            }
        }
        function uploadExcel() {
            var fileName = $("#url").val();
            window.location.href = "/Student/UploadSubStudentTerm/?filename=" + fileName;
        }
        function butOnClick() {
            if (event.keyCode == "13") {
                document.form1.submint();
            }
        }
        function ExcelDown() {
            $.ajax({
                type: "post",
                url: "/Student/DownloadSubSchoolStu",
                data: $("#searchForm").serialize(),
                success: function (data) {
                    if (data.indexOf("xls") > 0) {
                        location.href = data;
                    } else {
                        alert(data);
                    }
                },
                error: function (msg) {
                    alert("未知错误");
                }
            });
        }
    </script>
</body>
</html>