@using System.Configuration
@using IYun.Common
@using IYun.Models
@using IYun.Object
@using Webdiyer.WebControls.Mvc
@model PagedList<YD_Sts_SubStuTemp>
@{
    Layout = null;
    var modulePowers = ViewBag.modulePowers as List<ModulePower>;
    modulePowers = modulePowers ?? new List<ModulePower>();
    var teachPlanList = (List<YD_Sts_SubStuTemp>)ViewBag.teachPlanList;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ConfigurationManager.AppSettings["SchoolTitle"]</title>
    <link rel="stylesheet" href="~/Content/manage/style/css.css" type="text/css" /><!-- 全部样式 -->
    <link rel="stylesheet" href="~/Content/manage/style/reset.css" type="text/css" /><!-- 重置样式 -->
    <link href="~/Content/manage/style/pic.css" rel="stylesheet" type="text/css" /><!-- 相册样式 -->
    <!--[ifltIE9]>
        <script type="text/javascript" src="~/Views/Score/js/html5shiv.js"></script>
    <![endif]-->
    <!-- 使得ie678支持HTML5标签 -->
    <!--[ifltIE10]> 
        <script type="text/javascript" src="~/Content/manage/js/PIE.js"></script>
    <![endif]-->
    <!-- 使得ie6789支持CSS3样式 -->
    @*<script src="~/Content/manage/js/jquery-1.7.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/manage/js/jquery.nicescroll.js" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/MvcPager.js"></script>
    <script type="text/javascript">
        //EvPNG.fix('div, ul, img, li, input');

        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
            //使得ie6789支持CSS3样式

        });

    </script>
</head>

<body>
    @Html.Action("Top", "AdminBase")
    <div class="main center">
        <div id="main-tl">
            <div class="left-t">学籍管理</div>
            <div class="left-c">
                @{
                    foreach (var modulePower in modulePowers)
                    {
                        if (modulePower.y_url.ToLower() == "/student/SubSchoolStuInfo".ToLower())
                        {
                            <a class="on" href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                        else
                        {
                            <a href="@modulePower.y_url">@modulePower.y_moudleName</a>
                        }
                    }
                }
            </div>
        </div>
        <div id="main-tr">
            @{   if (teachPlanList.Count > 0)
                {
                    <a class="zc-sub2 mt30" href="javascript:verify()">校检</a>
                }
                else
                {
                    <a class="zc-sub2 mt30" href="/Student/UploadTrueSubSchoolStu">开始导入</a>
                }
            }
            <table class="xx-table">
                <tr>
                    <th style="padding-left: 30px; width: 90px;">用户名</th>
                    <th>基本信息 </th>
                    <th width="70">操作</th>
                </tr>
            </table>
            <div id="loadingDiv" style="display: none"><img src="~/Content/images/loading.gif"/>
            </div>
            <div id="ajaxtable">

                @Html.Partial("VerifyStuStuList", Model)
            </div>


        </div>
    </div>
    @Html.Action("Foot", "AdminBase")
</body>
</html>
<script>
    //生成各个字段集合，其中用“<>”隔开
    function verify() {
        var scoreList = $(".xx-js");
        var name = "";
        var examNum = "";
        var cardId = "";
        var id = "";
        if (scoreList.length == 0) {
            alert("数据已经无误");
            return;
        }
        for (var i = 0; i < scoreList.length; i++) {
            var nowObj = $(scoreList[i]);
            name += $(".name", nowObj).val();
            examNum += $(".examNum", nowObj).val();
            cardId += $(".cardId", nowObj).val();
            id += $(".id", nowObj).val();
            if (i + 1 < scoreList.length) {
                name += "<>";
                examNum += "<>";
                cardId += "<>";
                id += "<>";
            }
}
            $.ajax({
                type: "post",
                url: "/Student/UpdateSubVerify",
                data: {
                    name: name,
                    examNum: examNum,
                    cardId: cardId,
                    id: id
                },
                success: function(data) {
                    if (data == "ok") {
                        location.reload();
                    } else {
                        alert(msg);
                    }
                },
                error: function (msg) {
                    alert("未知错误");
                }
            });
        }
</script>
